<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OwlMail</title>
    <link rel="shortcut icon" href="/static/owl.png" type="image/x-icon">
    
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/styles/push.css">
    <link rel="stylesheet" href="/static/styles/message.css">

</head>
<body>
    {% csrf_token %}

    <div id="root">
        <div class="box">

            <img src="/static/back.png" class='back_button' onclick="window.history.go(-1)">
            <p id="user_name">{{theme}}</p>

            <p id="message">{{message}}</p>
            <p id="user">@{{from}}</p>
        </div>
    </div>

    <script>
        document.body.onload = function(){
            console.log(document.getElementById('message').innerHTML);
            document.getElementById('message').innerHTML = document.getElementById('message').innerHTML.replaceAll('\n', "<br/>");
            console.log(document.getElementById('message').innerHTML);

        }
    </script>

</body>
</html>